<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>

    <div class="person_wallet_recharge">
        <img src="<?php echo $_GET['img'];?>" width="190px" />
    </div>
    <script type="text/javascript">

var intval=setInterval(function(){ 
            $.ajax({
              url:"<?php echo $_GET['check_url']; ?>",
              data:{order_id:"<?php echo $_GET['order_id'];?>"},
              type:'post',
              dataType:'json',
              success:function(ret){
                        clearInterval(intval);
                  if(ret.errno==1){
                      layer.msg('支付成功',{icon:-1},function(){
                            if(ret.err.url){
                                parent.location.href=ret.err.url;
                            }else{
                              
                               window.parent.location.reload();
                            }
                               var index = parent.layer.getFrameIndex(window.name);
                               parent.layer.close(index);
                      });
                    }
              }
            })

 }, 1500);

    </script>